/*footer stile start*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/

.footer {
  background-color: var(--bg-violet-color);
  height: 298px;
  padding-top: 80px;
  padding-bottom: 50px;
}

.footer__second {
  display: flex;
  justify-content: space-between;
}
.footer__first {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.footer__first::after {
  content: "";
  display: block;
  max-width: 300px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: 2;
  top: 20px;
}
.footer__title {
  max-width: 350px;
  font-size: 30px;
  letter-spacing: 0.5px;
  padding-bottom: 45px;
  line-height: 1;
}

.adress {
  display: flex;
  flex-direction: column;
  color: var(--txt-white);
  text-align: right;
}

.adress__subtitle {
  font-family: "Marcellus SC", serif;
  text-transform: uppercase;
  color: #a0761a;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  font-style: normal;
  margin-bottom: 15px;
}

.adress__link {
  color: var(--txt-white);
  opacity: 0.8;
  transition: all 0.3s ease 0s;
}
.adress__link:hover,
.adress__link:active,
.adress__link:focus {
  color: var(--txt-gold);
}

.nav {
  display: flex;
}
.nav__item {
  margin-right: 24px;
}
.nav__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: var(--txt-white);
  opacity: 0.8;

  transition: all 0.3s ease 0s;
}
.nav__link:hover,
.nav__link:active,
.nav__link:focus {
  color: #a0761a;
}

.footer__input {
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 8px 20px;
  height: 48px;
  font-weight: 400;
  letter-spacing: 1px;

  color: var(--txt-white);
  text-align: center;

  background-color: transparent;
  margin-right: 8px;
  border: 2px solid #292929;

  transition: all 0.3s ease 0s;
}
.footer__input:hover,
.footer__input:active,
.footer__input:focus {
  color: var(--txt-white);
  background-color: #292929;
}
.footer__input::placeholder {
  font-family: "Marcellus SC", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--txt-gold);
}
.footer__btn {
  height: 45px;
}
.signature {
  display: flex;
  gap: 5px;
  align-items: center;
}
.olga {
  color: #a0761a;
}
.icon-git {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(/git.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.icon-in {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(/in.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.olga:hover,
.olga:focus,
.olga:active,
.icon-in:hover,
.icon-in:focus,
.icon-in:active,
.icon-git:hover,
.icon-git:focus,
.icon-git:active {
  opacity: 0.6;
}
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*footer style end*/
/*footer media start*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/

@media screen and (max-width: 968px) {
  .footer__title {
    max-width: 350px;
    font-size: 24px;

    padding-bottom: 45px;
  }
  .adress__subtitle {
    font-size: 24px;
    text-transform: none;
    padding-top: 8px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .footer__second {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .footer__nav {
    padding-bottom: 30px;
  }
  .footer__input {
    padding-right: 35px;
  }
  .adress {
    font-size: 12px;
  }
}
@media screen and (max-width: 508px) {
  .footer {
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .footer__first {
    display: flex;
    flex-direction: column;
  }
  .footer__adress {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .footer__title {
    text-align: center;
    padding-bottom: 15px;
  }
  .footer__nav {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .footer {
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer__input {
    margin: 0px;
  }
  .footer__btn {
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 100%;
  }
}
