/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/

.product {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 130px;

  background-image: url("/TheShop/shop_bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
.product__item {
  display: flex;
  justify-content: center;
}
.product__img {
  width: 100%;
  transition: all 0.3s ease 0s;
  margin-bottom: 40px;
}

.product__item-left {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}
.product__item-down {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.product__item-right {
  border: var(--txt-gold) 1px solid;
  color: var(--txt-black);
  max-width: 500px;
  padding-bottom: 50px;
}
.product__name {
  font-family: "Marcellus SC", serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 1;
  padding: 40px;
  padding-bottom: 0px;
  color: var(--txt-gold);

  text-align: center;
}
.product__txt {
  padding: 40px;
  padding-bottom: 5px;
}
.product__back {
  color: var(--txt-gold);
  padding-left: 40px;
  padding-top: 30px;
  display: block;

  font-weight: 500;
}
.product__back:hover,
.product__back:focus {
  text-decoration: underline;
}
.product__help {
  display: block;
}
.product__price {
  font-family: "Marcellus SC", serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--txt-gold);
}
.product__grm {
  font-size: 16px;
  color: var(--txt-black);
}
.product__btn {
  background-color: #fff;
  color: var(--txt-gold);
  font-weight: 500;
  font-size: 24px;
  transition: all 0.3s ease 0s;
}
.product__btn:hover,
.product__btn:focus,
.product__btn:active {
  background-color: var(--txt-gold);
  color: #fff;
}

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*testing stsyle end*/
/*testing media start*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/

@media screen and (max-width: 1200px) {
  .product {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 90px;
    background-image: url("/TheShop/shop_bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
  }
}

@media screen and (max-width: 767px) {
  .product__item-down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .product__img {
    margin-bottom: 20px;
  }
  .product__grm {
    margin-bottom: 20px;
  }
  .product__item-right {
    border: var(--txt-gold) 1px solid;
    color: var(--txt-black);
    max-width: 350px;
    padding-bottom: 30px;
  }
  .product__item-left {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }
  .product__txt {
    padding: 20px;
    padding-bottom: 5px;
  }
  .product__back {
    padding-left: 20px;
    padding-top: 10px;
    display: block;

    font-weight: 500;
  }
}
@media screen and (max-width: 408px) {
  .product {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .product__item {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .product__img {
    width: 100%;

    margin-top: 20px;
  }
  .product__item-left {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .product__btn {
    font-size: 24px;
    width: 100%;
    margin-bottom: 20px;
  }
  .product__item-down {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}
