/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/

.bag__page {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 290px;
  background-image: url("/TheShop/shop_bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
/* .basket {
  margin-bottom: 60px;
  padding-right: 20px;

  font-family: "Marcellus SC", serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 1;
}
.basket h2 {
  color: var(--txt-gold);
  margin-bottom: 10px;
}
.basket h2 span {
  color: var(--txt-gold);
  margin-left: 10px;
}
.basket__list {
  text-align: right;
  padding: 20px;
  background-color: #fff;
  display: block;
  z-index: 1;
}
.basket__list li {
  text-align: left;
  line-height: 1.3;
  position: relative;
  font-size: 20px;
  padding-left: 20px;
}
.basket__list li:before {
  position: absolute;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--txt-gold);
  top: 10px;
  left: 0;
}
.basket__item {
  display: flex;
  align-items: center;
}
.basket__cross {
  color: var(--txt-gold);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 2px;
  cursor: pointer;
}
.basket__cross:hover,
.basket__cross:focus,
.basket__cross:active {
  opacity: 0.6;
} */
.bag__title {
  text-align: center;
  padding-bottom: 60px;
  letter-spacing: normal;
  margin-top: -40px;
}
/* .bag__slogan {
  padding-top: 150px;
} */

.bag__list {
  display: grid;
  gap: 70px 30px;
  grid-template-columns: repeat(4, 1fr);
}
/* .shop__item {
  border: var(--txt-gold) 1px solid;
  color: var(--txt-black);
  position: relative;
}
.shop__img {
  width: 100%;
  transition: all 0.3s ease 0s;
}
.shop__img:hover {
  scale: 0.97;
}
.shop__name {
  font-family: "Marcellus SC", serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 1;
  padding: 20px;
  padding-bottom: 0px;
  color: var(--txt-gold);

  text-align: center;
}
.shop__txt {
  padding: 20px;
  padding-bottom: 5px;
}
.shop__more {
  color: var(--txt-gold);
  padding-left: 20px;
}
.shop__more:hover,
.shop__more:focus {
  text-decoration: underline;
}
.shop__help {
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 20px;
}
.shop__price {
  font-family: "Marcellus SC", serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--txt-gold);
}
.shop__grm {
  padding-left: 30px;
}
.shop__btn {
  position: absolute;
  background-color: #fff;
  color: var(--txt-gold);
  font-weight: 500;
  font-size: 24px;
  bottom: -24px;
  left: 85px;

  transition: all 0.3s ease 0s;
}
.shop__btn:hover,
.shop__btn:focus,
.shop__btn:active {
  background-color: var(--txt-gold);
  color: #fff;
} */

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*testing stsyle end*/
/*testing media start*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/

@media screen and (max-width: 1200px) {
  .shop {
    background-color: #fff;
    padding-top: 90px;
    padding-bottom: 190px;
    background-image: url("/TheShop/shop_bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
  }
  .shop__list {
    display: grid;
    gap: 70px 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .shop__slogan {
    padding-top: 100px;
    line-height: 1;
  }
  .shop__img {
    max-width: 100%;
  }
}

@media screen and (max-width: 968px) {
  .shop {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 120px;
    background-image: url("/TheShop/shop_bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
  }
  .shop__slogan {
    font-size: 24px;
    padding-top: 60px;
    max-width: 500px;
  }
  .shop__title {
    font-size: 24px;
    padding-bottom: 30px;
    line-height: 1;
  }
}
@media screen and (max-width: 767px) {
  .shop__list {
    display: grid;
    gap: 70px 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .shop__name {
    font-size: 20px;
    line-height: 1;
  }
}
@media screen and (max-width: 508px) {
  .shop__list {
    display: grid;
    gap: 70px 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  .shop__btn {
    position: absolute;
    background-color: #fff;
    color: var(--txt-gold);
    font-weight: 500;
    font-size: 24px;
    bottom: -24px;
    left: 20px;
  }
}
@media screen and (max-width: 380px) {
  .shop {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}
